body{
    background-color:lavender;
}

*{
    margin:0;
    padding:0;
}

nav{
    font-family: "Ubuntu",sans-serif;
}

nav ul{
    display:flex;
    list-style-type:none;
    height:65px;
    background-color: black;
    color:white;
}

.brand img{
    width:44px;
    padding:0 8px;
}

.brand{
    display:flex;
    font-weight:bolder;
    font-size: 1.5rem;
    text-align: center;
}

nav ul li{
    padding: 0 12px;
}

.container{
    height:72vh;
    background-color: black;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    width:75%;
    margin: 23px auto;
    display:flex;
    border-radius: 12px;
    padding:12px;
    background-image:url(assets/images/song.jpg) ;
    background-repeat: no-repeat;
    background-position: right ;
}
.songItem{
    height:100px;
    display:flex;
    background-color: lavender;
    color:black;
    width:120%;
    justify-content:space-between;
    align-items:center;
}

.songItem i{
    font-size: 20px;
}
.bottom{
    height:130px;
    background-color: black;
    color:white;
    bottom:0;
    position:sticky;
    display:flex;
    justify-content:center; /*bcoz flex-direction:column, aligns items vertically*/
    align-items: center; /*aligns items horizontally*/
    flex-direction:column; /*tells which axis is main*/
}

.icons{
    margin-top:20px;
}
.icons i{
    cursor: pointer;
}

#progressbar{
    width:30vw;
}
