body{
    background-color:lavender;
}

*{
    margin:0;
    padding:0;
}

nav{
    font-family: "Lobster", sans-serif;
}

nav ul{
    display:flex;
    list-style-type:none;
    height:65px;
    background-color: black;
    color:white;
}

.brand img{
    width:44px;
    padding:0 8px;
}

.brand{
    display:flex;
    font-weight:bolder;
    font-size: 1.5rem;
    text-align: center;
}

nav ul li{
    padding: 0 12px;
}


