body{
    background-color:lavender;
}

*{
    margin:0;
    padding:0;
}

nav{
    font-family: "Ubuntu",sans-serif;
}

nav ul{
    display:flex;
    list-style-type:none;
    height:65px;
    background-color: black;
    color:white;
}

.brand img{
    width:44px;
    padding:0 8px;
}

.brand{
    display:flex;
    font-weight:bolder;
    font-size: 1.5rem;
    text-align: center;
}

nav ul li{
    padding: 0 12px;
}

.container{
    height:75vh;
}

.bottom{
    height:125px;
    background-color: black;
    position:sticky;
    display:flex;
    justify-content:center;
    align-items: center;
}

#progressbar{
    width:30vw;
}
